{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "expect": true
  },
  "parser": "babel-eslint",
  "plugins": [
      "react"
  ]
}
